<!DOCTYPE html>
<html>
    <head>
        <title>Sushma</title>
        <body>
            <h1>Happiest birthday to you!! </h1>
        
        
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/images/BW.gif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">love from sush</h5>
              <p class="card-text">You are the beautiful soul and happy to have you as my love to my best friend in this world.</p>
              <a href="#" class="btn btn-primary">sushma</a>
            </div>
           
          
            </body>
        
    </head>
    
</html>